.black{
    background-color: black;
    padding: 0em;
    width: 80px;
    height: 80px;
    font-size:100%;
    text-align:center;
    display: table-cell;
    vertical-align:middle;
    

}

.white{
    background-color: whitesmoke;
     
    padding: 0em;
    text-align:center;
    width: 80px;
    font-size:100%;
    height: 80px;
    display: table-cell;
    vertical-align:middle;
    
}

.white:hover{
    background-color: rgba(255, 0, 0, 0.5);
}

.black:hover{
    background-color: rgba(255, 0, 0, 0.5);
}

.table{
  margin: 0 auto;
    width: 50em;
    height: 50em;
    
    
}

td:hover p{
    visibility: visible;
}
td p{
    visibility: hidden;
}

td{
    width: 640px;
    height: 640px;
    margin: 20px;
}

header{
    margin: 0 auto;
    font-size: 5em;
    text-align: center;
    font-family: 'Audiowide', cursive;
}
footer{
    text-align: center;
    font-family: 'Audiowide', cursive;
}


