body{
    font-family: 'Roboto', sans-serif;
    margin: 0;
    padding: 0;
}

nav{
    background-color: #2d3436;
    margin-bottom: 2%;
}

.logo-container{
    padding: 10px;
    display: inline;
}

nav ul{
    display: inline;
    padding: 20px;
    margin-left: 5%;
}
nav ul li{
    display: inline;
}

li a{
    padding: 20px;
    text-decoration: none;
    font-weight: bold;
    color: whitesmoke;
}

#main{
    margin-left: 10%;
    margin-right: 10%;
}

article{
    margin: 12px;
}

figure img{
    width: 100%;
}

figcaption{
    margin-left: 10px;
    font-size: 0.9rem;
}

a{
    color:#0984e3;
    font-weight: bold;
    text-decoration: none; 
}
figure{
    margin-top: 7px;
    margin-top: 7px;
}

footer{
    background-color: #2d3436;
    padding: 20px;
    color:whitesmoke;
}

label{
    padding-top: 3px;
    padding-bottom: 3px;
    display:block;
}

.section-footer{
    display: inline;
    
    margin-left: 15%;
    margin-right: 15%;
}

fieldset{
    border: none;
}

.input-group{
    padding: 7px;
}

.input-group email{
    padding: 7px;
    border: none;
    border-radius: 4px;
}

.input-group button{
    padding-top: 6px;
    padding-bottom: 6px;
    border: none;
    background-color:#d35400;
    color: white;
    font-weight: bold;
    border-radius: 4px;
    font-size: 1rem;
    padding-left: 10px;
    padding-right: 10px;
    
}

span{
    color: #d35400;
}